/* Main List
---------------------------------------------------------------------------- */

.welcome-box{
  background-color: var(--color-orange);
  margin-top: var(--xs);
  margin-bottom: var(--xs);
  h2{
    color: var(--color-white);
    margin-left: var(--s);
    margin-right: var(--s);
  }

  p{
    color: var(--color-white);
    margin-left: var(--s);
    margin-right: var(--s);
    margin-bottom: var(--s);
  }

  .about-link {
    text-align: left;
    margin-left: var(--s);
    margin-top: var(--s);
    
  }

  .about-link a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--fw-bold);
    display: inline-block;
  }
}


/* Fav List & ILU List
---------------------------------------------------------------------------- */

.fav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ilu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Fav Item & ILU Item
---------------------------------------------------------------------------- */

.fav-item {
  background-color: var(--color-white);
  padding: var(--m) var(--m) var(--m) var(--m);
  position: relative;
  margin: var(--s);

  &::before{
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }

  .icon{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: var(--xxxl);
  }

  p, address{
    margin: 0;
    font-style: normal;
    margin-left: var(--xxxl);
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-regular);
  }

  address{
    font-size: smaller;
    font-weight: var(--fw-light);
  }
}

.ilu-item {
  background-color: var(--color-white);
  padding: var(--m) var(--m) var(--m) var(--m);
  position: relative;
  margin: var(--s);

  &::before{
    position: absolute;
    font-size: var(--xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--l);
    top: 0;
    bottom: 0;
  }

  .icon{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: var(--xxxl);
  }

  p, address{
    margin: 0;
    font-style: normal;
    margin-left: var(--xxxl);
    line-height: var(--lh-tight);
  }

  p{
    font-weight: var(--fw-regular);
  }

  address{
    font-size: smaller;
  }
}


/* Card Grid & Card Item
---------------------------------------------------------------------------- */


.card-grid li {
  background-color: var(--color-white);
  margin-bottom: var(--xl);
  margin-left: var(--s);
  margin-right: var(--s);

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
}


.card-item ul {
  list-style-type: none;
  padding: 0;
  margin-top: -5px;
}

.card-item li {
  display: inline-block;
  padding: var(--xxxs);
  background-color: var(--color-grey);
  margin-bottom: var(--s);
  margin-left: var(--l);
  margin-right: -15px;
  text-align: center;
}

.card-item header h3 {
  padding-bottom: var(--xxxs);
  margin-top: -10px;
}

.card-item address {
  font-size: smaller;
  font-weight: var(--fw-light);
}


/* Footer
---------------------------------------------------------------------------- */


footer {
  background-color: rgb(89, 89, 89);
  padding: var(--s);
  overflow: hidden;

  section {
    margin-bottom: var(--s);
    color: var(--color-white);
    display: inline-block;
    width: 100%;

    ul {
      margin-left: var(--s);
      margin-top: -15px;

      li {
        margin-bottom: 5px;
        font-weight: var(--fw-light);
      }
    }

    h2 {
      font-size: var(--l);
    }
  }
}